/* =====================================
    About Hero Section
===================================== */

#about-intro{
    background-image: url("../img/pattern/black-pattern.svg");
    background-size: cover;
    background-position: center;
    // height: auto;
    display: grid;
    grid-template-columns: 80% auto;
    // padding-top: 90px;

    @include md{
        grid-template-columns: 70% auto;
        height: 40vh;

    }
    @include lg{
        height: 70vh;
        grid-template-columns: 50% auto;
    }
}


#about-header{

    aside{
        margin-top: 50px;
        padding: 0 20px;
    }

        h1{
            @include md{
                font-size: rem-calc(51);
            }

            @include xl{
                font-size: rem-calc(100);
                // margin-top: 10vh;
            }
        }

        #about-info article p:nth-child(2){
            font-size: rem-calc(28);
            font-weight: 900;
            font-family: 'Source Sans Pro';
        }

}

#about-parking{

    // why can't I adjust padding manually
    // #parking-copy-container aside article{
    //     padding: 0px 20px 40px 20px;
    // }

    div{
        background-image: url("../img/about/map.png");
        background-size: cover;
        background-position: center;
        height: 40vh;
    }

        p{
            padding-bottom: 20px;
        }
}

#about-cta{
    // display: flex;
    background-color: $yellow;

    article{
        padding-bottom: 40px;
    }

    form {
    display: grid;
    grid-gap: 15px;
    margin: 30px 0px;
    }

    form input {
        width: 96%;
        border: 2px solid $black;
        padding: 10px 2%;
    }

    form textarea {
        width: 96%;
        border: 2px solid $black;
        // background-color: #F6D98D;
        padding: 10px 2%;
        height: 100px;
    }

    form button {
        transition: 0.25s;
        border: 2px $black solid;
        font-size: 1.250em;
        // padding: 8px 10px;
        // text-align: left;
        background-color: #fff;
        // margin-top: 20px;
    }

    form button:hover {
        background-color: $red;
        cursor: pointer;
    }

}
