/* =============
    Heroes
============= */

#hero{

    background-image: url('../img/home/monospace-c.jpg');
    background-size: cover;
    background-position: center bottom;
    height: 30vh;
    display: flex;
    justify-content: center;

    @include xl{
        height: 100vh;
    }


    h1{
        font-weight: 300;
        font-size: rem-calc(46);
        margin-top: 15vh;
        color: $white;

        @include md{
            font-size: rem-calc(60);
            margin-top: 20vh;
        }

        @include xl{
            font-size: rem-calc(80);
            margin-top: 10vh;
        }
    }

}

// #hero-2{
//     background-image: url('../img/heroes/hero-2.jpg');
//     background-size: cover;
//     background-position: center bottom;
//     height: 90vh;
//
//     @include xl{
//         height: 100vh;
//         background-position: center top;
//     }
// }
