// /* =============
//     Name Gallery
// ============= */

#meet-designers-intro{
    background-color: $white;
    background-position: center;
    background-size: contain;
    background-image: url("../img/pattern/grey-pattern.svg");
    height: auto;
}

#name-gallery{
    background-color: $black;
}

#name-gallery aside{
    display: grid;
    grid-template-columns: 50% 50%;

    @include md{
        // grid-template-columns: 200px 200px 200px;
    }
}


// /* =============
//     Designer Feature
// ============= */






// Faculty

#faculty-list-container{
    background-color: #F7F7F7;
}
    li{
        padding: 5px 0px;
        font-size: rem-calc(16);
    }

    h1{
        padding-bottom: 40px;
    }


#faculty-list{
    @include md{
        display: grid;
        // grid-template-columns: 50% 25% 25%;
        // grid-template-rows: repeat(2, 50vh);
        // grid-template-areas: "t1 . .
        // b1 b2 b3"
    }

    // ul:nth-child(1){
    //     grid-area: b1;
    // }
    //
    // ul:nth-child(2){
    //     grid-area: b2;
    // }
    //
    // ul:nth-child(1){
    //     grid-area: b3;
    // }
}
