// /* =============
//     Portfolio
// ============= */

#portfolio-intro{
    // background-image: url("../img/pattern/grey-pattern.svg");
    background-color: $black;
    background-position: center;
    background-size: cover;

    div{
        padding: 60px 20px 30px 20px;
    }
}
#portfolio-gallery-container {
    background-color: $black;

    >div {
        ul {
            display: grid;
            grid-gap: 5px;
            grid-template-rows: repeat(6, 20vh);
            grid-template-columns: 50% 50%;
            @include md {
                grid-template-rows: repeat(6, 40vh);
            }
            @include lg {
                grid-template-columns: 30% 30% 30%;
                grid-template-rows: repeat(4, 50vh);
            }
            @include xl {
                grid-template-columns: 30% 30% 30%;
                grid-template-rows: repeat(4, 50vh);
            }

            li {
                background-position: center;
                background-size: cover;
            }

            li:nth-child(1) {
                background-image: url("../img/gallery/rafaelmayani-1.png");
                background-position: top;
            }

            li:nth-child(2) {
                background-image: url("../img/gallery/decision-1.png");
            }

            li:nth-child(3) {
                background-image: url("../img/gallery/monospace-3.png");
            }

            li:nth-child(4) {
                background-image: url("../img/gallery/energy.png");
            }

            li:nth-child(5) {
                background-image: url("../img/gallery/paper-sculpture.png");
            }

            li:nth-child(6) {
                background-image: url("../img/gallery/flower-zoom.png");
            }

            li:nth-child(7) {
                background-image: url("../img/gallery/magazine.png");
            }

            li:nth-child(8) {
                background-image: url("../img/gallery/ny-subway-01.png");
            }

            li:nth-child(9) {
                background-image: url("../img/gallery/keetra7.png");
            }

            li:nth-child(10) {
                background-image: url("../img/gallery/gig-poster_v4.png");
            }

            li:nth-child(11) {
                background-image: url("../img/gallery/tim.png");
            }
        }
    }
}


#portfolio-cta{
    background-color: $yellow;
}
