/* =============
    Footer
============= */
footer {

    #footer-container{
        @include md{
            display: grid;
            grid-template-columns: 60% 40%;
            grid-template-areas: "footer-left footer-right";
        }

        @include lg{
            grid-template-columns: 40% auto;
            grid-template-areas: "footer-left footer-right";
        }

        @include xl{
            grid-template-columns: 30% auto;
            grid-template-areas: "footer-left footer-right";
        }

    }

    #footer-container-right{
        @include lg{
            display: grid;
            grid-template-columns: 60% 40%;
        }
    }

    #footer-2{
        @include lg{
            padding-top: 70px;
        }
    }
    #footer-3{
        @include lg{
            display: flex;
            align-self: flex-end;
        }

        @include xl{
            align-self: flex-end;
        }
    }

    // Logos ==========================
    .westphal-logo{
        height: 50px;
    }

    // .2020-footer{
    //     height: 10px;
    // }

    aside{
        padding-bottom: 20px;
    }


    // Event info ==========================
    article p{
        padding-bottom: 8px;
    }

    article p:nth-child(1){
        font-weight: 700;
        font-family: 'Syncopate', sans-serif;
        text-transform: uppercase;
    }

    article p:nth-child(2){
        font-weight: 300;
    }

    article p:nth-child(3){
        font-weight: 300;
    }



    // RSVP ==========================


    // Links ==========================
    ul{
        padding: 20px 0px 50px 0px;

        li{
            padding-bottom: 20px;
            font-size: rem-calc(24);

                @include md{
                    padding-bottom: 15px;
                    font-size: rem-calc(18);
                }

            a:link{
                font-weight: 300;
            }
            a:hover{
                border-bottom: 2px $red solid;
            }

            a:active{
                color: $red;
            }

        }

    }


    // Footer Bar =========================
    #footer-bar{
        background-color: $black;
        height: 20px;
    }

}
