/* =============
    Buttons
============= */

button{
    background-color: $white;
    border: 3px $black solid;
    color: $black;
    padding: 18px 15px;
    text-align: left;
}

.button p{
    font-size: rem-calc(18);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    // justify-content: center;
    // vertical-align: middle;
}

.button-container{
    padding: 20px 0 15px 0;
}

.button{
    display: flex;
}

.button img{
    padding-left: 15px;
    align-content: flex-end;
}

button:hover {
    background-color: $red;
    cursor: pointer;
}


// Bio Buttons---------.
// .name-button{
//     width: 42vw;
//     height: 75px;
//
//     @include md{
//         width: 42vw;
//         height: 130px;
//     }
//
//     @include lg{
//
//     }
// }

.name-button{
    width: 170px;
    height: 75px;

    @include md{
        width: 230px;
        height: 130px;
    }

    @include lg{

    }

}
.name-button-container{
    padding: 5px 5px 5px 0;
}

.name-button p:nth-child(1){
    font-size: rem-calc(18);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;

    @include md{
        font-size: rem-calc(24);
    }
}

.name-button p:nth-child(2){
    font-size: rem-calc(18);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;

    @include md{
        font-size: rem-calc(24);
    }
}

.name-button:hover{
    background-color: $yellow;

}
