/* =============
    Buttons
============= */

button{
    background-color: $white;
    border: 3px $black solid;
    color: $black;
    padding: 18px 15px;
    text-align: left;
}

.button p{
    font-size: rem-calc(18);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    // justify-content: center;
    // vertical-align: middle;
}

.button-container{
    padding: 20px 0 15px 0;
}

.button{
    display: flex;

}

.button img{
    padding-left: 15px;
    align-content: flex-end;
}

button:hover {
    background-color: $red;
    cursor: pointer;
}


// Bio Buttons================================

.name-button{
    // height: 75px;
    // width: 160px;
    width: 40vw;
    height: auto;
    border: none;

    @include md{
        width: 25vw;
        height: 130px;
    }

    @include xl{
        width: 24vw;
    }

    p{
        font-size: rem-calc(18);
        font-family: 'Source Sans Pro', sans-serif;
        @include md{
            font-size: rem-calc(24);
        }
    }

}

.name-button p:nth-child(1){
    font-weight: 400;
}

.name-button p:nth-child(2){
    font-weight: 900;
}

.name-button:hover{
    background-color: $yellow;
}
